**参考莫凡Python**

**Pandas的属性**

**Numpy 和 Pandas 有什么不同**

**可以说 Numpy 是列表形式的，没有数值标签，而 Pandas 就是字典形式**

In [1]:
import numpy as np
import pandas as pd

pandas以float32或64位来存数据

**两个数据结构：Series和DataFrame**

**Series的字符串表现形式：索引在左边，值在右边**

In [2]:
s = pd.Series([1, 3, 4, np.nan, 34, 9])
s

0     1.0
1     3.0
2     4.0
3     NaN
4    34.0
5     9.0
dtype: float64

In [3]:
dates = pd.date_range('20190531', periods = 8)
dates

DatetimeIndex(['2019-05-31', '2019-06-01', '2019-06-02', '2019-06-03',
               '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(8, 4), index = dates, columns = ['a', 'b', 'c', 'd'])
df

                   a         b         c         d
2019-05-31 -0.607021  0.514490  0.702117  0.525820
2019-06-01  0.888359  0.277702  0.380997  0.389346
2019-06-02 -1.592587 -0.088465  0.406040 -0.244812
2019-06-03 -1.523865  1.351571 -1.367427 -1.191776
2019-06-04 -0.459496  0.220785  1.119268  0.091891
2019-06-05 -1.305711  1.681602  0.080103 -1.007254
2019-06-06  0.407575  0.565818 -1.491488  0.632650
2019-06-07  0.925807  2.014046 -1.098648 -0.683921